BoostersUI {
    position: absolute;
    top: 50%;        // Centrer verticalement
    left: 50%;       // Centrer horizontalement
    transform: translate(-50%, -50%); // Ajustement pour un centrage parfait
    min-width: 200px;
    
    .boosters-container {
        pointer-events: all;
    }
    
    .boosters-menu {
        background-color: rgba(44, 62, 80, 0.95); // Ajout de transparence
        padding: 15px;
        border-radius: 8px;
        border: 2px solid #e74c3c;  // Bordure rouge comme accent
    
        h2 {
            text-align: center;
            margin-bottom: 15px;
            font-size: 24px;
            color: #e74c3c;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
    
        .booster-item {
            margin-bottom: 8px;
            
            button {
                background-color: rgba(52, 73, 94, 0.8);
                padding: 12px 15px;
                border: 1px solid rgba(255, 255, 255, 0.1);
                
                .booster-info {
                    .type {
                        font-size: 18px;
                        color: white;
                    }
                    
                    .multiplier {
                        font-size: 16px;
                        color: #e74c3c;
                    }
                }
                
                .time {
                    background-color: rgba(0, 0, 0, 0.2);
                    padding: 4px 8px;
                    border-radius: 4px;
                    font-size: 14px;
                }
            }

            .boosterOn {
                border: 1px solid #1abc9c;
                
                &:hover {
                    background-color: rgba(26, 188, 156, 0.3);
                }
            }

            .boosterOff {
                opacity: 0.7;
                
                &:hover {
                    background-color: rgba(204, 4, 31, 0.3);
                }
            }
        }
    }
}